body {
    font-family: Montserrat;
}

h3 {
    font-weight: 700;
}

.container-fluid {
    padding: 3% 15%;
}

.download-button {
    margin: 5% 2% 0% 2%;
}



.meet {
    color: #fff;
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

.navbar {
    padding: 8px 0px 120px 0px;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    font-size: 1.4rem;
    font-weight: 300;
    padding-left: 30px;
}

.phone {
    transform: rotate(25deg);
}

#title {
    background-color: #ff4c68;
}

#features {
    margin: 250px 0px 0px 0px;
    text-align: center;
}