body {
  font-family: Montserrat;
}

h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
  font-weight: 700;
}

.container-fluid {
  padding: 3% 15% 10%;
}

.download-button {
  margin: 5% 2% 0% 2%;
}

.features {
  position: relative;
  background-color: #fff;
  padding: 7% 14%;
  text-align: center;
}

.features-subtext {
    color: #383838;
  padding: 1% 22%;
}

.icon {
  color: #ff2e4f;
  margin: 40px 0px 20px 0px;
}

.icon:hover {
  color: #ff4c68;
}

.meet {
  color: #fff;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

.navbar {
  padding: 8px 0px 120px 0px;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 3rem;
  font-weight: 700;
}

.nav-item {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 30px;
}

.phone {
  transform: rotate(25deg);
  position: absolute;
  right: 24%;
}

#press {
    background-color: #ff4c68;
    color:#fff;
    padding: 3% 14%;
    text-align: center;
}

.press-logo {
    padding: 2%;
    width: 20%;
}

#testimonials {
    background-color: #ff4c68;
    color:#fff;
    
    text-align: center;
}

.carousel-item {
  padding: 7% 14% 0%;
}

.testimonials-logo {
    border-radius: 100%;
    margin: 2% 2% 5%;
    width: 150px;
}
.testimonials-logo-2 {
    border-radius: 100%;
    margin: 2% 2% 5%;
    width: 150px;
}

#title {
  background-color: #ff4c68;
}

#pricing {
  text-align: center;
  padding: 7% 14%;
}

.pricing-card {
padding: 5% 3%;
}

@media (max-width: 1340px)  {
  
  .phone {
    position: static;
    transform: rotate(0);
    padding-top: 7%;
  }

  .container-fluid {
    text-align: center;
  }

}